.dropdown {
    margin: 45px auto;
    width: 70%;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s ease;

    .dropdown__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        padding: 1rem;
        color: white;
        background-color: #ff6060;
        cursor: pointer;

        h2 {
            margin: 0;
        }

        i {
            font-size: 24px;
            transition: transform 0.5s ease;
            transform: rotate(0deg);
        }

        .fa-chevron-up.rotate {
            transform: rotate(180deg);
        }
    }
    .dropdown__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s ease;
        background-color: #f6f6f6;

        &.dropdown--open {
            height: auto;
            max-height: 400px;
            padding: 10px 20px;
        }
    }
}