main {
    min-height: calc(100vh - 195px - 174px);
}

@media (max-width: 768px) {
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .dropdown {
            width: 90%;
            margin: 20px auto; // Centrer horizontalement

            h2 {
                font-size: 15px;
            }

            .dropdown__content {
                font-size: 12px;
            }
        }
    }
}