.logement {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logement__txt {

        .logement__txt__title {
            color: #ff6060;
            font-size: 36px;
            font-weight: 500;
            margin: 20px 0 0 60px;
        }

        .logement__txt__place {
            font-size: 18px;
            font-weight: 500;
            margin: 15px 0 20px 60px;
        }
    }

    .logement__host {
        display: flex;
        align-items: center;
        margin: 10px 20px;

        .logement__host__txt {
            color: #ff6060;
            font-size: 18px;
            font-weight: 500;
            width: 40%;
            padding: 0 10px;
            text-align: end;
        }
        .logement__host__img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
    }

    .logement__tags {
        display: flex;
        margin-left: 50px;

        .logement__tags__txt {
            width: 150px;
            text-align: center;
            color: white;
            border-radius: 10px;
            background-color: #ff6060;
            padding: 5px;
            margin: 10px;
        }
    }

    .logement__rating {
        margin: 0 60px;

        .fa-star {
            font-size: 32px;
            padding: 0 7px;
        }
    }

    .star--red {
        color: #ff6060;
    }

    .star--grey {
        color: #f6f6f6;
        }
}