.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 100px;
    height: 115px;

    .link {
        font-size: 24px;

        .link__txt {
            padding: 0 20px;
        }
    }
}

@media (max-width: 786px) {

    .header {
        margin: 0 10px;

        img {
            width: 160px;
        }

        .link {
            font-size: 12px;
            text-transform: uppercase;

            .link__txt {
                padding: 0 5px;
            }
        }
    }
}